@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #daf8ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  margin: 0px;
  padding: 0px;
  overflow-x: none;
}
